<!DOCTYPE HTML>
<html>
<head>
    <title>Messages list</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <form action="/logout" method="post">
        <input type="submit" value="Sign Out"/>
    </form>
    <div>
        <form method="post">
            <input type="text" name="text" placeholder="enter message">
            <input type="text" name="tag" placeholder="tag">
            <!--Любой запрос отправляемый без этого поля будет игнорироваться сервером-->
            <input type="hidden" name="_csrf" value="{{_csrf.token}}" />
            <button type="submit">Add message</button>
        </form>
    </div>
    <div>Список сообщений</div>
    <div>
        <form method="post" action="filter">
            <input type="text" name="filter" placeholder="filter">
            <!--Любой запрос отправляемый без этого поля будет игнорироваться сервером-->
            <input type="hidden" name="_csrf" value="{{_csrf.token}}" />
            <button type="submit">Filter</button>
        </form>
    </div>
    {{#messages}}
    <div>
        <b>{{id}}</b>
        <span>{{text}}</span>
        <i>{{tag}}</i>
    </div>
    {{/messages}}

</body>
</html>